# SRAG - Agrupamento e Detecção de Anomalias

Este é um trabalho para a disciplina de Sistemas de Apoio à Decisão do curso de Sistemas de Informação da Universidade Federal de Ouro Preto.

A base de dados disponibilizada pelo governo diz respeito a Casos de Síndrome Respiratória Aguda Grave Hospitalizados. Para este trabalho iremos trabalhar com uma amostragem de 1000 registros aleatórios.

<center><img src="img/srag.jpg"></center>

A SRAG é um agravamento de infecções respiratórias. Os sintomas geralmente são febre de início súbito, mesmo que referida, acompanhada de tosse ou dor de garganta e pelo menos um dos sintomas: mialgia, cefaleia ou artralgia.

A evolução para Síndrome Respiratória Aguda acontece quando o paciente apresenta os sintomas acima e mais algum dos sintomas abaixo:

• Dispneia;

• Desconforto respiratório;

• Insuficiência respiratória;

• Saturação de oxigênio menor que 95%;

• Exacerbação de doença preexistente.

In [3]:
# Bilioteca para análise e manipulação de dados
import pandas as pd

In [4]:
# Lendo o arquivo de amostra da base de dados
df = pd.read_csv('sample_SRAG.csv')
df.head()

,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,ID_UNIDADE,...,DS_AN_OUT,TP_AM_SOR,SOR_OUT,DT_CO_SOR,TP_SOR,OUT_SOR,DT_RES,RES_IGG,RES_IGM,RES_IGA
0,19/07/2020,30,14/07/2020,29,MG,BELO HORIZONTE,1449.0,CONTAGEM,311860,UNIDADE PRONTO ATENDIMENTO CONTAGEM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03/08/2020,32,03/08/2020,32,MG,PASSOS,1455.0,MONTE SANTO DE MINAS,314320,SANTA CASA DE MISERICORDIA DE MONTE SANTO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,05/06/2020,23,02/06/2020,23,PA,01 REGIONAL DE PROTECAO SOCIAL,1484.0,BELEM,150140,UPA DAGUA I,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10/06/2020,24,07/06/2020,24,SP,GVE XII ARARAQUARA,1337.0,IBITINGA,351960,CENTRO DE SAUDE II IBITINGA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18/06/2020,25,13/06/2020,24,PA,04 REGIONAL DE PROTECAO SOCIAL,1487.0,CAPANEMA,150220,ASSOCIACAO GUIOMAR JESUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1.0. Seleção de Atributos

In [3]:
# Dimensões do dataframe
# 1000 linhas e 154 colunas
df.shape

(1000, 154)

### 1.1. Exclusão de Atributos

In [5]:
# Deletar colunas irrelevantes para o trabalho
df = df.drop(['RES_IGA', 'RES_IGM', 'RES_IGG', 'DT_RES', 'OUT_SOR', 'TP_SOR', 'DT_CO_SOR', 'SOR_OUT',
             'TP_AM_SOR', 'DS_AN_OUT', 'AN_OUTRO', 'AN_ADENO', 'AN_PARA3', 'AN_PARA2', 'AN_PARA1',
             'AN_VSR', 'AN_SARS2', 'POS_AN_OUT', 'TP_FLU_AN', 'POS_AN_FLU', 'RES_AN', 'DT_RES_AN',
             'TP_TES_AN', 'DT_TOMO', 'TOMO_OUT', 'TOMO_RES', 'OBES_IMC', 'MORB_DESC', 'M_AMAMENTA',
             'HISTO_VGM', 'PAIS_VGM', 'CO_PS_VGM', 'LO_PS_VGM', 'DT_VGM', 'DT_RT_VGM', 'PCR_SARS2', 
             'PAC_COCBO', 'PAC_DSCBO', 'OUT_ANIM', 'PCR_RINO', 'PCR_OUTRO', 'DS_PCR_OUT', 'CLASSI_OUT',
             'PCR_PARA4', 'PCR_ADENO', 'PCR_METAP', 'PCR_BOCA', 'PCR_VSR', 'PCR_PARA1', 'PCR_PARA2', 
              'PCR_PARA3', 'FLUASU_OUT', 'PCR_FLUBLI', 'FLUBLI_OUT', 'POS_PCROUT', 'POS_PCRFLU', 'TP_FLU_PCR',
              'PCR_FLUASU', 'OUT_AMOST', 'DT_EVOLUCA', 'DT_ENCERRA', 'DT_DIGITA', 'DT_PCR', 'DT_COLETA',
             'DT_RAIOX', 'RAIOX_OUT', 'DT_NOTIFIC', 'DT_ENTUTI', 'DT_SAIDUTI', 'ID_UNIDADE', 'ID_REGIONA',
             'DT_SIN_PRI', 'ID_MUNICIP', 'DT_NASC', 'DT_INTERNA', 'DT_VAC_MAE', 'DT_NASC', 'AMOSTRA', 'TP_AMOSTRA', 
             'CO_REGIONA', 'CO_MUN_NOT', 'CO_UNI_NOT', 'DT_UT_DOSE', 'DT_DOSEUNI', 'DT_1_DOSE', 'DT_2_DOSE',
             'CS_ETINIA', 'ID_PAIS', 'CO_PAIS', 'CS_ESCOL_N', 'MAE_VAC', 'OUTRO_DES', 'SG_UF_NOT', 'ID_RG_RESI',
             'CO_RG_RESI', 'ID_MN_RESI', 'CO_MUN_RES', 'CS_ZONA', 'DT_ANTIVIR', 'TP_AMOSTRA', 'SUPORT_VEN',
             'ID_RG_INTE', 'CO_RG_INTE', 'ID_MN_INTE', 'CO_MU_INTE', 'OUT_ANTIV', 'SEM_NOT', 'TP_ANTIVIR', 
              'SEM_PRI', 'TP_IDADE', 'CS_GESTANT', 'COD_IDADE', 'PCR_RESUL', 'PCR_RESUL', 'CRITERIO'], axis=1)
df.head()

,CS_SEXO,NU_IDADE_N,CS_RACA,SG_UF,SURTO_SG,NOSOCOMIAL,AVE_SUINO,FEBRE,TOSSE,GARGANTA,...,HOSPITAL,SG_UF_INTE,UTI,RAIOX_RES,CLASSI_FIN,EVOLUCAO,DOR_ABD,FADIGA,PERD_OLFT,PERD_PALA
0,F,76,9.0,MG,2.0,2.0,2.0,2.0,1.0,2.0,...,1.0,MG,NaN,NaN,5.0,NaN,2.0,2.0,2.0,2.0
1,M,86,4.0,MG,2.0,2.0,2.0,1.0,2.0,2.0,...,1.0,MG,2.0,NaN,4.0,2.0,2.0,2.0,2.0,2.0
2,F,95,4.0,PA,1.0,NaN,NaN,2.0,2.0,NaN,...,1.0,PA,2.0,4.0,5.0,2.0,NaN,NaN,NaN,NaN
3,M,54,1.0,SP,2.0,2.0,2.0,2.0,1.0,1.0,...,1.0,SP,2.0,2.0,4.0,1.0,NaN,NaN,NaN,NaN
4,F,37,NaN,PA,2.0,2.0,2.0,1.0,1.0,1.0,...,1.0,PA,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

### 1.2. Dicionário de Variáveis

De acordo com a fonte dos dados, essa é a descrição de cada uma das variáveis presentes no dataset.

- CS_SEXO - Sexo do paciente
- NU_IDADE_N - Idade do Paciente
- CS_RACA - Cor ou raça do Paciente
- SG_UF - UF da residência do Paciente
- SURTO_SG - Se o caso é proveniente de SG
- NOSOCOMIAL - Caso de SRAG com infecção adquirida após internação.
- AVE_SUINO - Caso com contato direto com aves ou suínos.
- FEBRE - Se o Paciente apresentou febre
- TOSSE - Se o Paciente apresentou tosse
- GARGANTA - Se o Paciente apresentou dor de garganta
- DISPNEIA - Se o Paciente apresentou dispneia
- DESC_RESP - Se o Paciente apresentou desconforto respiratório
- SATURACAO - Se o Paciente apresentou saturação O2 < 95%
- DIARREIA - Se o Paciente apresentou diarreia
- VOMITO - Se o Paciente apresentou vômito
- DOR_ABD - Se o Paciente apresentou dor abdominal
- FADIGA - Se o Paciente apresentou fadiga
- PERD_OLFT - Se o Paciente apresentou perda de olfato
- PERD_PALA - Se o Paciente apresentou perda de paladar
- OUTRO_SIN - Se o Paciente apresentou outros sintomas
- PUERPERA - Se o Paciente era puérpera ou parturiente (mulher que pariu recentemente – até 45 dias do parto)
- FATOR_RISC - Se o Paciente apresentou algum fator de risco
- CARDIOPATI - Se o Paciente possuia Doença Cardiovascular Crônica
- HEMATOLOGI - Se o Paciente possuia Doença Hematológica Crônica
- SIND_DOWN - Se o Paciente possuia Síndrome de Down
- HEPATICA - Se o Paciente possuia Doença Hepática Crônica
- ASMA - Se o Paciente possuia asma
- DIABETES - Se o Paciente possuia diabetes
- NEUROLOGIC - Se o Paciente possuia Doença Neurológica
- PNEUMOPATI - Paciente possui outra pneumopatia crônica
- IMUNODEPRE - Se o Paciente possuia Imunodeficiência ou Imunodepressão (diminuição da função do sistema imunológico)
- RENAL - Se o Paciente possuia Doença Renal Crônica
- OBESIDADE - Se o Paciente possuia obesidade
- OUT_MORBI - Se o Paciente possuia outro fator de risco
- VACINA - Se o Paciente foi vacinado contra a gripe na última campanha
- ANTIVIRAL - Se o Paciente usou antiviral para a gripe
- HOSPITAL - Se o Paciente foi internado
- SG_UF_INTE - UF da internação do Paciente
- UTI - Se o Paciente foi internado na UTI
- RAIOX_RES - Resultado do Raio X de tórax
- CLASSI_FIN - Diagnóstico final do caso.
- EVOLUCAO - Evolução do caso

In [6]:
# Colunas presentes no dataset
df.columns

Index(['CS_SEXO', 'NU_IDADE_N', 'CS_RACA', 'SG_UF', 'SURTO_SG', 'NOSOCOMIAL',
       'AVE_SUINO', 'FEBRE', 'TOSSE', 'GARGANTA', 'DISPNEIA', 'DESC_RESP',
       'SATURACAO', 'DIARREIA', 'VOMITO', 'OUTRO_SIN', 'PUERPERA',
       'FATOR_RISC', 'CARDIOPATI', 'HEMATOLOGI', 'SIND_DOWN', 'HEPATICA',
       'ASMA', 'DIABETES', 'NEUROLOGIC', 'PNEUMOPATI', 'IMUNODEPRE', 'RENAL',
       'OBESIDADE', 'OUT_MORBI', 'VACINA', 'ANTIVIRAL', 'HOSPITAL',
       'SG_UF_INTE', 'UTI', 'RAIOX_RES', 'CLASSI_FIN', 'EVOLUCAO', 'DOR_ABD',
       'FADIGA', 'PERD_OLFT', 'PERD_PALA'],
      dtype='object')

## 2.0. Preparação dos Dados

Esta base de dados possui muitos valores faltantes, e os dados precisam ser normalizados.

### 2.1. Preenchimento de valores faltantes

In [7]:
# Contando valores NaN em todas as colunas do dataset
# Apenas as colunas CS_SEXO, NU_IDADE_N, FATOR_RISC e SG_UF_INTE não possuem valores faltantes
df.isnull().sum()

CS_SEXO         0
NU_IDADE_N      0
CS_RACA        86
SG_UF           0
SURTO_SG      163
NOSOCOMIAL    209
AVE_SUINO     187
FEBRE         118
TOSSE          87
GARGANTA      242
DISPNEIA      101
DESC_RESP     155
SATURACAO     145
DIARREIA      252
VOMITO        258
OUTRO_SIN     252
PUERPERA      610
FATOR_RISC      0
CARDIOPATI    500
HEMATOLOGI    606
SIND_DOWN     610
HEPATICA      609
ASMA          600
DIABETES      529
NEUROLOGIC    594
PNEUMOPATI    592
IMUNODEPRE    606
RENAL         595
OBESIDADE     595
OUT_MORBI     530
VACINA        209
ANTIVIRAL     132
HOSPITAL       37
SG_UF_INTE      0
UTI           156
RAIOX_RES     307
CLASSI_FIN    124
EVOLUCAO      228
DOR_ABD       722
FADIGA        720
PERD_OLFT     721
PERD_PALA     721
dtype: int64

In [11]:
df.CS_RACA.groupby('CS_RACA').size()

AttributeError: 'DataFrame' object has no attribute 'CS_RAÇA'